<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Tekla.Common.Geometry" version="4.6.2" targetFramework="net48" />
  <package id="Tekla.Structures" version="2022.0.10075" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2022.0.10075" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2022.0.10075" targetFramework="net48" />
  <package id="Tekla.Technology.Akit5" version="5.8.17235.1" targetFramework="net48" />
  <package id="Tekla.Technology.Scripting" version="5.0.20041" targetFramework="net48" />
  <package id="Tekla.Technology.Serialization" version="1.1.0" targetFramework="net48" />
</packages>